.mantine-TextInput-label, .mantine-PasswordInput-label, .mantine-Select-label, .mantine-MultiSelect-label, .mantine-NumberInput-label, .mantine-Textarea-label, .mantine-Switch-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #727293;
}

.dashboard-card-main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.general-buttons{
    min-width: 100px !important;
}

.react-slideshow-container .nav{
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.mantine-Modal-header{
    border-bottom: 1px solid #dee2e6;
}

.mantine-Modal-title{
    font-weight: bold !important;
    /* color: white !important; */
}

.mantine-Modal-body{
    padding: 20px !important;
    overflow-x: hidden !important;
}

.mantine-MultiSelect-pillsList{
    flex-wrap: nowrap !important;
}

/* .bottom-mobile-navbar{
    position: absolute;
    bottom: 0 !important;    
} */

.Mui-selected{
    color: #5185a6 !important;
}

.MuiBottomNavigationAction-label{
    color: var(--mantine-color-gray-6);
}

.gay-icon{
    background-color: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

.mantine-ChartLegend-legend{
    flex-wrap: nowrap !important;
}